<% content_for(:title, admin.t("titles.index", default: "Listing %{pluralized_model_name}")) %>

<% toolbar(:primary) do |t| %>
  <%= t.new %>
<% end %>

<% flash.each do |key, value|
  if key.eql? 'notice'%>
    <div class="alert alert-dismissable alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <i class="alert-icon far fa-check-circle"></i>
      <div class="alert-content">
        <h3>Success!</h3>
        <p><%= value %></p>
      </div>
    </div>
  <% end; if key.eql? 'alert'%>
  <div class="alert alert-danger" role="alert">
    <li><%= value %></li>
  </div>
<% end; end %>

<% toolbar(:secondary) do |t| %>
  <%= link_to "Export CSV", summary_questions_export_csv_path(format: :csv), class: "btn btn-primary" %>
<% end %>

<% toolbar(:secondary) do |t| %>
  <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#exampleModal">
    Import CSV
  </button>
<% end %>

<% content_for(:utilities) do %>
  <%= render "scopes" %>
<% end if admin.scopes.any? %>

<%= render layout: "layout" do %>
  <% if hook?("resource.index.header") %>
    <header class="main-content-header">
      <%= hook("resource.index.header") %>
    </header>
  <% end %>

  <%= render "trestle/table/table", table: admin.table, collection: collection %>

  <footer class="main-content-footer">
    <%= hook("resource.index.footer") %>

    <%= pagination collection: collection, entry_name: admin.model_name, remote: admin.pagination_options[:ajax] %>
  </footer>
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag summary_questions_import_csv_path, multipart: true do %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Import CSV</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><%= link_to "Download sample CSV", summary_questions_download_sample_csv_path(format: :csv), class: "btn btn-primary" %></p>
          <%= file_field_tag :file %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
