<!DOCTYPE html>
<html>
  <head>
    <title>RailsNihongo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <article>
        <section>
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <%= yield %>
            </div>
            <%= render 'layouts/right_content' %>
          </div>
        </section>
      </article>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
